@font-face {
    font-family: 'lato';
    src: url('/font/Lato-Black.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-content {
    background-color: #F3E8DF;
    width: 40vw;
    height: 80vh;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-box .box-content p.title {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    font-family: 'lato';
    margin-bottom: 10px;

}
.main-box .box-content input{
    border: 0;
    outline: 0;
    padding: 4px 5px;
    width: 225px;
    height: 30px;
    border-radius: 5px;


}
.main-box .box-content button{
    background-color: #452829;
    color: #ffff;
    outline: none;
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    box-shadow: inset;
}
.box-do{
    background-color: #ffff;
    height:30px ;
    width: 289px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.content-do{
    display: flex;
    align-items: center;
    gap: 20px;
}